h3{color:white;}

h3,h4 {
    font-weight: bold;
    font-family: PT Sans;
}

#headline-section {
    margin-top: -71px;
    background-position: center;
    background-size: cover;
    min-height: 286px;
    display: block;
}

.headline{    
    text-align: center; 
    display: inline-block;
    padding: 30px;
    margin: 30px 0 0 0 !important;
    letter-spacing: -1px;   
}

.headline h1{
    font-size: 40px;
}

.headline img {
    margin: 0 auto;
    display: block;
}

#headline-inner-div {
    margin: 0 auto;
    max-width: 700px;
}



#signup-twitter {
    margin:0 auto;
    max-width: 200px;
}


.pitch {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.subheadline{
background-color: blanchedalmond;
}

.playstoreicon{
width:200px;
}

.chromewebstoreicon{width:250px;}

#container{
    padding:10px;
}