h3{color:white;}

h3,h4 {
    font-weight: bold;
    font-family: PT Sans;
}

#headline-section {
    background-image: url(baginiwp3.JPG);
    margin-top: -71px;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 286px;
    display: block;
}

#headline{    
    text-align: center; 
    display: inline-block;
    padding: 30px;
    margin: 45px 0 0 0 !important;    }

#headline-inner-div {
    margin: 0 auto;
    max-width: 700px;
}



#signup-twitter {
    margin:0 auto;
    max-width: 200px;
}


.pitch {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

#amazingjp{
background-color: blanchedalmond;
}